*{
    margin: 0px;
    padding: 0px;
}

.main{
    display: flex;
    flex-direction: column;
}

.div {
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
  }
  
  .parent-div-1{
    display: flex;
    justify-content: flex-start;
  }

  .parent-div-2{
    display: flex;
    justify-content: center;
  }

  .parent-div-3{
    display: flex;
    justify-content:end;
  }